{% extends 'base.html' %}

{% block title %}{{ enterprise.name }} Action Log{% endblock %}

{% block content %}
<h1>{{ enterprise.name }} Action Log</h1>
<p><a href="{% url 'enterprise_details' enterprise.slug %}">Back to {{ enterprise.name }}</a></p>

<article>
<ul>
{% for action in actions %}
  <li>{{ action.when_igt }} - {{ action.description }}</li>
{% endfor %}
</ul>
{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
</article>

{% endblock %}
