{% extends 'base.html' %}

{% block content %}
<h1>Welcome</h1>
<p>This is the site for the MoonBizGame.</p>
{% if user.is_authenticated %}
<article>
<h1>Play the game</h1>
{% if enterprises %}
<p>Continue playing a previous started game:</p>
<ul>
{% for enterprise in enterprises %}
<li><a href="{% url 'enterprise_details' enterprise.slug %}">{{ enterprise.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
<p>You can <a href="{% url 'enterprise_start_game' %}">create a new game</a> and start playing now.</p>
</article>
{% endif %}
<article>
<h1>Persona Login</h1>
<p>You don't need to create a username and password for this site. You login using
<a href="http://persona.org/">Persona</a>.</p>
<p>Persona (formerly called Browser ID) was 
created by <a href="http://www.mozilla.org/">Mozilla</a> to make it simpler and 
easier to login. You just provide your email address, and Persona will help
you verify it and then you can login with just a couple of clicks.</p>
<p>So to get started playing the game, click the "Login" button above and
get signed in with Persona.</p>
</article>
{% endblock %}
