{% extends 'base.html' %}
{% load humanize %}

{% block title %}Sell Config{% endblock %}

{% block content %}
<h1>Sell Config</h1>
<p>Back to <a href="{% url 'enterprise_details' enterprise.slug %}">{{ enterprise.name }}</a>,
<a href="{% url 'launch_purchasedconfigs' enterprise.slug %}">Purchased Launches</a> </p>

<p><strong>Company:</strong> {{ launchconfig.launch.company }}<p>
<p><strong>Product:</strong> {{ launchconfig.launch.product }}</p>
<p><strong>Launch Date:</strong> {{ launchconfig.launch.when_igt }}</p>
<p><strong>Destination:</strong> {{ launchconfig.destination }}</p>
<p><strong>Maximum Mass:</strong> {{ launchconfig.max_mass }}</p>
<p><strong>Original Price:</strong> ${{ launchconfig.price|intcomma }}</p>

<p>Are you sure you want to sell for ${{ price|intcomma }}?</p>

<form method="POST" action="{% url 'launch_sell_config' enterprise.slug launchconfig.id %}">
{% csrf_token %}
<p><input type="submit" value="Sell"> <a href="{% url 'launch_purchasedconfigs' enterprise.slug %}">Cancel</a></p>
</form>

{% endblock %}
